* {
  box-sizing: border-box;
  /* border: 1px solid green; */
}

/* html {
  display: flex;
  justify-content: center;
} */

body {
  font-family: "Karla", sans-serif;
  margin: auto;
  max-width: 720px;
  min-width: 300px;
  max-height: 550px;
  background: black;
}

.nav--main {
  height: 100px;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}

.nav--image {
  position: fixed;

  height: 100px;
  padding: 10px;
  margin-left: 20px;
}

.nav--main > h1 {
  /* center text */
  margin: auto;

  width: 300px;
  height: 24px;
  left: 58px;
  top: 21px;

  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 24px;
  letter-spacing: -0.1em;

  color: #ffffff;
}

.textInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 37px;
  gap: 20px;
}

.legend--container {
  width: 100%;

  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
}

.legend--text {
  /* flex: 1; */
  width: 150px;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.addText--button {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #4caf50;
  /* margin: 10px; */
  cursor: pointer;
}
input {
  border: 1px solid #d5d4d8;

  width: 100%;
  min-width: 1px;
  height: 35px;
  gap: 17px;
  border-radius: 5px;
  text-indent: 5px;
}

.inputs {
  display: flex;
  color: #ffffff;
}

.fontSize {
  width: 150px;
}

.inputs > button {
  width: 50px;
  height: 35px;
  border-radius: 5px;
  border: none;
  background-color: #af4c4c;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.imageField {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: flex-end; */
  margin: 0px 37px;
}

.newImage {
  width: 100%;
  height: 40px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 5px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: -0.1em;

  color: #ffffff;
  cursor: pointer;
}

.newImage:hover {
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  opacity: 0.8;
}

.meme {
  position: relative;
  margin-top: 50px;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  /* margin: 15px 0; */
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
/* 
 legend {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

fieldset {
  border: none; 
  padding: 0;
  margin: 0;
  width: 500px;
} */
@media screen and (max-width: 450px) {
  .nav--image {
    position: relative;
    margin: 0;
  }
  .nav--main {
    flex-direction: column;
    height: 150px;
  }
  .legend--text {
    font-size: 1rem;
  }
}
